<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <form method="GET">
            <h1 class="h11">Stížnosti</h1>
            <label for="login">Zákazník: </label>
            <input type="text" placeholder="Jméno zákazníka" name="login">
            <label for="stiznost">Stížnost: </label>
            <input
            name="stiznost"
                type="text"
                placeholder="Napiš stížnost" />
            <p>Stížnost zákazníka ... </p>
            <button style="border: 3px black solid;">Submit!</button>
            <!-- Místo tří teček by se mělo doplnit stížnost, kterou odeslal zákazník ve formuláři -->

    </body>
</html>
